<?xml version="1.0"?>
<config>
    <modules>
        <Artjoker_CustomPrice>
            <version>1.0.0</version>
        </Artjoker_CustomPrice>
    </modules>
    <global>
        <models>
            <artjoker_customprice>
                <class>Artjoker_CustomPrice_Model</class>
            </artjoker_customprice>
        </models>
        <blocks>
            <artjoker_customprice>
                <class>Artjoker_CustomPrice_Block</class>
            </artjoker_customprice>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_attributes>Artjoker_CustomPrice_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <artjoker_customprice>
                <class>Artjoker_CustomPrice_Helper</class>
            </artjoker_customprice>
        </helpers>
        <resources>
            <artjoker_customprice_setup>
                <setup>
                    <module>Artjoker_CustomPrice</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </artjoker_customprice_setup>
        </resources>
        <events>
            <model_save_before>
                <observers>
                    <apply_custom_price_one>
                        <class>artjoker_customprice/observer</class>
                        <method>applyCustomPrice</method>
                    </apply_custom_price_one>
                </observers>
            </model_save_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <artjoker_customprice>
                    <file>artjoker/customprice.xml</file>
                </artjoker_customprice>
            </updates>
        </layout>
        <translate>
            <modules>
                <Artjoker_CustomPrice>
                    <files>
                        <default>Artjoker_CustomPrice.csv</default>
                    </files>
                </Artjoker_CustomPrice>
            </modules>
        </translate>
    </adminhtml>
</config>